name = "QEWavefunctions"
uuid = "e54c511c-fe38-4435-8f5e-bb364f434f81"
authors = ["Jae-Mo Lihm <jaemolim96@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
